@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Koulen&display=swap");
* {
  padding: 0;
  margin: 0; }

.cuerpo {
  color: #efe0e0;
  background-color: #1b1818;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  min-height: 100vh;
  position: relative; }
  .cuerpo span {
    text-decoration: solid; }
    .cuerpo span:hover {
      color: brown;
      transition-duration: 2s;
      /*cambia el color al principal */ }

body .parrafo {
  border: 4px outset;
  border-color: brown;
  text-align: center;
  margin-bottom: 10vh;
  margin-top: 10vh;
  margin-left: 5vh;
  width: 100vh;
  padding: 1vh; }

body .contact {
  margin: 10vh 5vh 0 5vh; }

.header {
  height: 25%;
  width: auto;
  background-color: brown;
  position: relative;
  top: 0px; }
  .header ul li {
    border-radius: 20px;
    border: 10px outset #1b1818;
    display: inline-block;
    padding-left: 0px;
    margin-right: 4%;
    padding: 1vh; }

section .cardcelular {
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap; }

section .card-body {
  color: black;
  bottom: 0; }

section img {
  max-width: 200px;
  /*esto es solo para que queden todas las card iguales*/
  max-height: 112px;
  align-self: center; }

.card-body {
  color: black; }

.box {
  border: 4px brown outset;
  margin-top: 70px;
  margin-left: 50px; }

.reseñas {
  display: flex;
  flex-wrap: wrap; }

.pie {
  margin-top: 5vh;
  padding-top: 5vh;
  padding-bottom: 2vh;
  height: auto;
  width: auto;
  background-color: brown; }

.escalar:hover {
  transform: scale(1.2);
  transition: 2s;
  /*aplicar al footer cuando termine la parte de grids*/ }

.borde {
  border-radius: 10px outset;
  border-color: brown;
  /*no se por que no se aplica el borde, propiedades como color se aplicaron bien*/ }

.Opiniones {
  margin-top: 20vh;
  border: 2vh outset brown;
  border-radius: 20px;
  text-align: center;
  padding: 0; }
