@import "../base/base";

.cuerpo{
    color: rgb(239, 224, 224);
    background-color: rgb(27, 24, 24);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    min-height: 100vh;
    position: relative;
    span{ text-decoration:solid;
        &:hover{
            color: $color-principal;
            transition-duration: 2s; /*cambia el color al principal */
        }
    }
}

body{
    .parrafo{ 
    border: 4px outset;
    border-color: $color-principal;
    padding: 1vh;
    }
    .contact{
        margin: 10vh 5vh 0 5vh;
    }
}

