@import "../base/base";



section{
    .cardcelular{
        margin-top: 5%;
        display: flex;
        flex-wrap: wrap;
    }
    .card-body{
        color: black;
        bottom: 0;
    }
    img{               /*esto es solo para que queden todas las card iguales*/
        align-self: center;
        max-height: 320px;
        max-width: 159px;
       
    }
    .margen{
        margin-top: 20vh;
    }
    .botonInalambrico{
        bottom: 0;
    }
    
}

