@import "../base/base";



section{
    .cardcelular{
        margin-top: 5%;
        display: flex;
        flex-wrap: wrap;
    }
    .card-body{
        color: black;
        bottom: 0;
    }
    img{               /*esto es solo para que queden todas las card iguales*/
        align-self: center;
        height: 320px;
        width: 159px;
    }
}