@import "../base/base";
@import "../base/mixting";
.header{
    height: 25%;
    width: auto;
    background-color: $color-principal;
    position: relative;
    top: 0px;
    nav{
        ul li  {
       @include borde(map-get($color, color-secundario)); /*es un poco innesesario, pero estoy jugando un poco*/
            }
        }
       }
       
