@import "../base/base";
@import "../base/mixting";
.header{
    height: 25%;
    width: auto;
    background-color: $color-principal;
    position: relative;
    top: 0px;
    nav{
        ul li  {
                border-radius: 20px;
                border: 10px outset $color-secundario;
                display: inline-block;
                padding-left:  0px;
                margin-right: 4%;
                padding: 1vh;
            }
        }        
}

       
