@import "../base/base";
.header{
    @media screen and (max-width: 760px) {
       
    }
        
    height: 25%;
    width: auto;
    background-color: $color-principal;
    position: relative;
    top: 0px;
    nav{
        ul li  {
                border-radius: 20px;
                background-color: $color-secundario;
                display: inline-block;
                padding-left:  0px;
                margin-right: 4%;
                padding: 1vh;
                a{
                    color: white;
                    text-decoration-line: none;
                }
            }
        }        
}


       
