@import "../base/base";

.Opiniones{
    margin-top: 20vh;
    border: 2vh outset $color-principal;
    border-radius: 20px;
    text-align: center;
    padding: 0;
    margin-right: 20px;
    margin-right: 20px;
    }
    .bodyOpiniones{
        margin-left: 20%;
        margin-right: 20%;
    }